
/* //slider */

.video-section {
  width: 90%;
  max-width: 1300px;
  margin: auto;
  padding: 50px 0;
  margin-top: -180px;
}

.manual-slider {
  padding-bottom: 30px;
}

.video-card {
  background: #000000;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.12);
  transition: transform 0.3s ease;
}

.video-card:hover {
  transform: translateY(-8px);
}

.video-frame {
  width: 100%;
  height: 200px;
  border: none;
}

.video-title {
  padding: 12px 15px;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  color: #eef8ce;
  font-family: "Poppins", sans-serif;
}

/* Container for the arrows */
.swiper-button-prev,
.swiper-button-next {
  width: 20px;       
  height: 20px;      
  padding: 3px;        
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(6px);
  transition: 0.3s;
  color: #fff;
}

/* Scale the SVG arrow inside ::after */
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 35px;   
  color: #fff;
}

/* Hover effect */
.swiper-button-prev:hover,
.swiper-button-next:hover {
  background: rgba(0, 0, 0, 0.8);
  transform: scale(1.1);
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .swiper-button-prev,
  .swiper-button-next {
    width: 20px;
    height: 20px;
  }
  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: 28px;
  }
}

@media (max-width: 640px) {
  .swiper-button-prev,
  .swiper-button-next {
    width: 20px;
    height: 20px;
  }
  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: 22px;
  }
}